.qq-upload-button {
    background: none repeat scroll 0 0 #880000;
    border-bottom: 1px solid #DDDDDD;
    color: #FFFFFF;
    display: block;
    padding: 7px 0;
    text-align: center;
    width: 105px;
    position: relative;
    overflow: hidden;
    direction: ltr;
}

.upload_file{
    position: absolute;
    right: 0pt;
    top: 0pt;
    z-index: 1;
    margin: 0pt;
    padding: 0pt;
    cursor: pointer;
    opacity: 0;
    width: 50px;
}

.mac-attachs{
    z-index: 434521474835833;
}
