.editorPlace{
	margin-bottom: -25px;
	position: relative;
	z-index: 1000;
}
.msg-answer-ctrl{
	background: #FFF;
}
.msg-answer-ctrl .button{margin: 3px 7px;}
.msg-answer-ctrl .orange{float: right;}

.mac-marks{
	height: 25px;
}
.mac-mark-btn{
	float: left;
	margin:0;
	border: 1px solid #CFCFCF;
	background: #FFF;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	padding: 5px 15px; 
	font-weight: bold;
	cursor: pointer;
}

.mac-marks-save-draft{
    float: right;
    margin-right: 50px;
    width: 500px;
    hight : 10px;
    background-color:#ffd700;
}

.mac-mark-btn.selected{
	background: #CFCFCF;
	color: #FFF;
}
.mac-tbl-merka{
	width: 100%;
	vertical-align: top;
	margin-top: -1px;
}

.mac-tbl-merka, .mac-tbl-merka td{
	background: #CFCFCF !important;
}

.mac-tbl-merka td{
	padding-top: 5px;
}

.mac-merka-left{
	padding: 5px;
	vertical-align: top;
}
.mac-top-btn{
	margin-bottom: 5px;
}
.mac-label{
	font-weight: bold;
	font-size: 0.8em;
}
.mac-fortext{
	width: 80%;
}
.mac-attach-block{
	margin: 5px;
}
.mac-msg-text{
	width: 100%;
	height: 150px;	
}


.mac-merka-right{
	padding: 0 5px;
	width: 200px;
	vertical-align: top;
}
.mac-work-with-template{
	
}

.mac-gear-btn{
	
}
.mac-template-list-conteiner{
	width: 100%;
	height: 293px;
	background: #FFF;
	margin-top: 5px;
}
.mac-template-list{
	list-style: none;
	padding:0;
	margin:5px;
}
.mac-template-item{
	cursor: pointer;
	margin: 5px 10px;
}

.nicEdit-main{
	background: #FFF !important;
	margin:0; padding:4px;
	min-height: 218px !important;
}


.mac-added-attachs{
	margin: 5px;
}

.mac-aa-cb{
	margin-right: 5px;
}

.mac-aa-href{
	text-decoration: underline;
	color: #444444;
}

.mac-aa-size{
	color: #444444;
}