.button{
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	padding: 0.2em 0em 0.25em; 
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {  
	position: relative;  
	top: 1px; 
}

.button.orange {
	font-weight: bold;
	padding: 3px 10px;
	color: #FFF;
	border: solid 0px #da7c0c;
	background: #ff8700;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffdf00), to(#ff8700));
	background: -moz-linear-gradient(top,  #ffdf00,  #ff8700);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdf00', endColorstr='#ff8700');
}

.button.orange:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#ffdf00), to(#ff8700));
	background: -moz-linear-gradient(top,  #ffdf00,  #ff8700);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdf00', endColorstr='#ff8700');
}
.button.orange:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#ffdf00), to(#ff8700));
	background: -moz-linear-gradient(top,  #ffdf00,  #ff8700);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdf00', endColorstr='#ff8700');
}

.button.grey{
	color: #FFF;
	border: none;
	background: #bdbdbd;
	/*text-shadow: none;*/
	padding: 2px 10px;
	font-weight: bold;
}

.button.grey.dark{
	background: #777 !important;
}