.cb-ctrl{
	float: left;
}
.cb-ctrl-main{
	float: left;
	cursor: pointer;
	width: 30px;
	height: 13px;
	margin: -3px 0 0 0;
	padding: 3px 0 3px 5px;
	border: 1px solid #CCC;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #F9F9F9;
	background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F9F9F9),to(#E3E3E3));
	background: -moz-linear-gradient(center top , #F9F9F9, #E3E3E3);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9F9F9', endColorstr='#E3E3E3');
}
.cb-ctrl-main:hover, .cb-ctrl-main:focus{
	border-color: #939393 !important;
}

.cb-ctrl-main.kdown{
	background: #777777;
	background: -webkit-gradient(linear,0% 40%,0% 70%,from(#777777),to(#999999));
	background: -moz-linear-gradient(center top , #777777, #999999);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#777777', endColorstr='#999999');
	border-left: #888888 !important;
}

.cb-ctrl-select-threads{
	margin: 0;
}
.cb-ctrl-arrow{
	background: url(../images/cbctrlarrow.png) center no-repeat;
	/*margin-left: 3px;*/
}
.cb-ctrl-slide-down-layer{
	/*display: none;*/
	position: absolute;
	z-index: 1000;
	background: none repeat scroll 0 0 #F7F7F7;
  	color: #000000;
	padding: 2px;
	-webkit-box-shadow: 0 4px 10px #8B8B8B;
	-moz-box-shadow: 0 4px 10px #8B8B8B;
	box-shadow: 0 4px 10px #8B8B8B;
	margin: 15px 0 0 0px;

    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0.1s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 0.1s;
    -moz-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.cb-ctrl-slide-down-layer.bottomCtrl{
	margin-top: -145px;
}

.cb-ctrl-sd-menu{
	list-style: none;
	padding: 0;
	margin: 0;
}

.cb-ctrl-sd-item{
	cursor: pointer;
	margin: 3px;
}

.cb-ctrl-sd-item:hover{
	background: #C7CACC;
}

.left-side-ctrl-select-action{
	margin: -3px 0 0 10px;
}
