.glabCtrl{
	min-width: 115px;
	max-width: 150px;
	width: 150px;
	border:1px solid #DBDBDB;
	border-top: none;
	border-right : none;
	height: 25px;
	-webkit-border-radius:  0 5px 0 3px;
	-moz-border-radius:  0 5px 0 3px;
	border-radius: 0 5px 0 3px;
	cursor:pointer;
	
	background: #FAFAFA;
	background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#D0D0D0)) #DDDDDD;
	background: -moz-linear-gradient(center top,  #FAFAFA,  #D0D0D0) #DDDDDD;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#D0D0D0')
}

.glabCtrl:hover{
	background: #FAFAFA;
	background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#CCCCCC));
	background: -moz-linear-gradient(center top,  #FAFAFA,  #CCCCCC);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#CCCCCC');
}

.mini .glabCtrl{display: none;}

.glabCtrl-arrow-left{
	background: url(../source/gmailIconSet.png) no-repeat 0 -40px;
	float: left;
	width: 16px;
	height: 16px;
	margin: 6px 0 0 3px;
}
.glabCtrl-arrow-left.send{
    background: url(../source/gmailIconSet.png) no-repeat -60px -60px;
}
.glabCtrl-arrow-left.edit{
    background: url(../source/gmailIconSet.png) no-repeat -83px -60px;
}
.glabCtrl-cap{
	padding: 2px 0px 0px 0px;
	width: 70px;
	float: left;
}
.glabCtrl-arrow{
	background: url(../source/gmailIconSet.png) no-repeat;
	width: 16px;
	height: 16px;
	margin: 10px 0 0 3px;
	float: right;
}
.glabCtrl-menu-layer{
	position: absolute;
	border: 1px solid #bdbdbd;
	background: #EEE;
	width: 200px;
	margin: 25px 0 0 -86px;
	display: none;
}
.glabCtrl-menu{
	padding:0;
	margin:3px;
	list-style:none;
}
.glabCtrl-item{
	padding: 3px;
}
.glabCtrl-menu li:hover{
	background: #CCC;
}