.gmlpc-ctrl{
	padding:0;
	margin: 0;
}
.gmlpc-elem{
	
}
.gmlpc-href{
	padding: 0 3px;
}

.gmlpc-href.gi{
	color: #999;
}

.gmlpc-href.gi:hover{
	color: #000;
}

.gmlpc-current{
	font-weight: bold;
	padding: 0 5px;
}
.gmlpc-select{
	
}
.gmlpc-options{
	
}
