.head .head-left-block{
	float:left;
}

.head-left-block span{
	margin: 5px;
}
.head-left-block select{
	margin: 5px;
	width: 100px;
}

.head .head-right-block{
	text-align: right;
}

.head .head-right-block{
	text-align: right;
}

.head-right-block .lbtn{
	cursor: pointer;
	margin: 5px 10px;
	padding: 0 0 4px 20px;
}

.head-right-block .lbtn_login{
	margin: 10px;
	font-family: "'Times New Roman'";
	font-size: 18px;
	color: #0000FF;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 4px;
	padding-left: 20px;
}

.head-right-block .lbtn_msg{
	margin: 10px 100px;
	padding: 0 0 4px 20px;
}

.lbtn.option{
	background: url(../source/option_icon.gif) no-repeat;
}
.lbtn.exit{
	background: url(../source/exit_icon.gif) no-repeat;
}

.time_server{
	float: left;
	margin: 4px;
}
#time_server
{
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	font-weight: bold;
	padding: 3px 5px;
	color: #666;
	border: solid 0px #C0C0C0;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF8BF', endColorstr='#FFC788');	
	background-color: #F3F3F3;
	letter-spacing: 2pt;
}