.left-menu-block{
	list-style: none;
	margin: 14px;
	padding: 36px 0 27px 0;
	-webkit-border-radius: 1.5em;
	-moz-border-radius: 1.5em;
	border-radius: 1.5em;
	font-size: 12px;
}
.left-menu-block li{
	margin: 0 1px;
	padding: 10px 0 10px 18px;
	background: url(../source/dl.png) no-repeat 15px bottom;
	cursor:pointer;
} 
.left-menu-block li.selected{
	font-weight:bold;
	background-color: #FFF;
}
.left-menu-block.f-menu{
	background: #f1f1f1;
	background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e5e5e5));
	background: -moz-linear-gradient(top,  #f1f1f1,  #e5e5e5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#e5e5e5');
}
.left-menu-block.s-menu{
	padding: 16px 0 14px 0;
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#efefef));
	background: -moz-linear-gradient(top,  #f6f6f6,  #efefef);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#efefef');
}
