.search{
	background: #f1f1f1;
	background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e5e5e5));
	background: -moz-linear-gradient(top,  #f1f1f1,  #e5e5e5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#e5e5e5');
	-webkit-border-radius: 1.5em;
	-moz-border-radius: 1.5em;
	border-radius: 1.5em;
}

.search input{
	width: 290px;
}

.search select{
	width: 113px;
}

.search button{
	border: 1px solid #FFFFFF;
	font-weight: bold;
	margin-left: 3px;
	width: 92px;
}
