.jq-cortege .stat-icons .iconStatButton.myDesign nobr{
	color:#FFF;
	border: 1px solid #FFF;
	background-color: #00F;
  	background: -moz-linear-gradient(100% 100% 90deg, #000, #00F);
  	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#00F), to(#000));
}
.jq-cortege.threads .row.myRow {background: #000; color: #FFF;}
.jq-cortege.threads .row.myRow .cell.date {background-color: inherit; color:#0F0;}
.jq-cortege.threads .row.myRow .cell div.gDiv {background: url(../images/selfGrad.png) no-repeat top left;}
.jq-cortege.threads .row.myRow .cell.subject {color: #F00;}
.jq-cortege.threads .row.myRow .cell.subject span {color: #00F;}
.jq-cortege.threads .row.myRow .cell.caption {font-weight: bold;}