.tag-cloud{}
.tag-cloud .tag{
	border: 1px solid #666;
	display: inline-block;
	text-align: center;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	padding: 1px 5px;
	margin: 0 2px;
	background: #FFF;
}

.red {
	background: #ff0000;
}
.green {
	background: #00ff00;
}
