.message-thread{}

.message-thread .conteiner{
	margin: 23px 14px;
} 

.message-thread .mess-info{
	border-collapse: collapse;
	font-size: 11px;
	margin: 20px 6px;
	width: 100%;
}

.message-thread .mess-info tr{
	height: 16px;
}

.message-thread .mess-info .name{
	width: 85px;
	font-weight: bold;
}
.message-thread .mess-info .value{
	
}

.message-thread h3{
	font-size: 12px;
}

.message-thread .order-items{
	width: 100%;
}
.message-thread .order-items .head{
	background: #bdbdbd!important;
	text-align: center;
	color: #FFF;
	font-weight: bold;
	font-size: 12px;
}
.message-thread .order-items tr{
	height: 16px;
}		

/*.message-thread tr:nth-child(even) {background: #f0f0f0}
.message-thread tr:nth-child(odd) {background: #FFF}*/

.message-thread .h-slider-block{}

.message-thread .right-side {
	width: 95%;
	text-align: right;
}
