.message-thread .h-slider-block{
	border: 1px solid #cfcfcf;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:0; 
	overflow:hidden;
	margin: 10px 0;
	min-height:20px;
}

.h-slider-block-tbl td{}

.message-thread .h-slider-block:nth-child(even),  
.message-thread .h-slider-block:nth-child(even) .h-slider-block-tbl td
	{background: #FFF}
.message-thread .h-slider-block:nth-child(odd), 
.message-thread .h-slider-block:nth-child(odd) .h-slider-block-tbl td
	{background: #FFF}

.message-thread .h-slider-block-tbl{
	margin:0;
	border-collapse:collapse;
	width:100%;
}
.h-slider-block-tbl td{
	padding: 5px 10px 5px 20px;
	background: none;
	cursor: pointer;
}
.h-slider-block-tbl .from{
	white-space: nowrap;
	width: 1px;
}

.h-slider-block-tbl .from.layerStyle_0{min-width:200px;}
.h-slider-block-tbl .from.layerStyle_1{
	background-color: #FFEED5 !important;
	-moz-border-radius: 0 0 5px 0;
	-webkit-border-radius: 0 0 5px 0;
	border-radius: 0 0 5px 0;
	min-width:200px;
}
.h-slider-block-tbl .from.layerStyle_2{
	background-color: #B7FFB7 !important;
	-moz-border-radius: 0 0 5px 0;
	-webkit-border-radius: 0 0 5px 0;
	border-radius: 0 0 5px 0;
	min-width:200px;
}
.h-slider-block-tbl .from.layerStyle_3{
	background-color: #B9E3FF !important;
	-moz-border-radius: 0 0 5px 0;
	-webkit-border-radius: 0 0 5px 0;
	border-radius: 0 0 5px 0;
	min-width:200px;
}


.h-slider-block-tbl .tags-dayjest{
	width: 50%;
}

.h-slider-block-tbl .tags-inner{
	overflow: hidden;
}
.h-slider-block-tbl .tin-layer{
	margin-right: -10000px;
	overflow: hidden;
}
.h-slider-block-tbl .digest{
	
}


.h-slider-block-tbl .tag-cloud{
	white-space: nowrap;
	width: 1px;
}
.h-slider-block-tbl .time{
	white-space: nowrap;
	width: 1px;
}
.h-slider-block-tbl .answer{
	white-space: nowrap;
	padding-right:3px;
	width: 1%;
	padding:0;
}
.message-thread .bottom-button{
	text-align: right;
	margin: 10px 30px;
}

.message-thread .message-body{
	margin: 10px;
	overflow: hidden;
}


.message-thread .h-slider-block.mini{
	max-height: 60px;
	min-height: 60px;
	height: 60px;
	margin-bottom: -47px;
	cursor: pointer;
}

.message-thread .h-slider-block.mini .h-slider-block-tbl td{
	padding-bottom: 30px;
}

.message-thread .h-slider-block.mini .message-body,
.message-thread .h-slider-block.mini .bottom-button
	{display: none;}
	
	
.message-thread .mini-side .h-slider-block.mini{
	margin-bottom: -60px;
}

.message-thread .h-slider-block.mini.super {
	margin-bottom: -65px;
}

.message-thread .h-slider-block.mini.super .h-slider-block-tbl {
	display: none;
}


.h-slider-block.blue .h-slider-block-tbl .from {background: #00F !important;}
.h-slider-block.orange .h-slider-block-tbl .from {background: #FF8700 !important;}



.mini .cme-bottom-line{display: none;}
.cme-bottom-line{
	background: #CFCFCF;
	border-radius: 0 0 5px 5px;
	padding: 5px 30px;
}

.cmebl-btn{
	text-decoration: underline;
	padding: 3px 30px 3px 10px; 
	display: inline;
	cursor: pointer;
}
.cmebl-btn.cmebl-btn-default span{
    position: absolute;
	margin: 0;
	width: 16px;
	height: 16px;
	margin-left: -20px;
    background: url(../source/gmailIconSet.png) no-repeat 0 -40px;
}
.cmebl-btn.cmebl-btn-send span{
	position: absolute;
	margin: 0;
	width: 16px;
	height: 16px;
	margin-left: -20px;
	background: url(../source/gmailIconSet.png) no-repeat -60px -60px;
}

.cmebl-btn.cmebl-btn-edit span{
	position: absolute;
	margin: 0;
	width: 16px;
	height: 16px;
	margin-left: -20px;
	background: url(../source/gmailIconSet.png) no-repeat -83px -60px;
}

.cmebl-btn.cmebl-btn-in_processed span{
    position: absolute;
	margin: 0;
	width: 16px;
	height: 16px;
	margin-left: -20px;
	background: url(../source/gmailIconSet.png) no-repeat -100px -75px;
}

.cmebl-btn.cmebl-btn-in_not_processed span{
    position: absolute;
	margin: 0;
	width: 16px;
	height: 16px;
	margin-left: -20px;
	background: url(../source/gmailIconSet.png) no-repeat -120px -78px;
}

.cmebl-btn.cmebl-btn-answer span{background-position: 0 -40px;}
.cmebl-btn.cmebl-btn-inTreated span{background-position: -120px -80px;}


.mini .attach-msg-block{
	display: none;
}
.attach-msg-block{
	margin: 2px 10px 30px;
	border-top: 1px solid #CFCFCF
}
.amb-elem{
	margin: 5px 0;
	padding: 10px 0 10px 30px;
	background: url(../source/mime_ico/blanktype.png) no-repeat 0 5px;
}

.amb-elem.image{background-image: url(../source/mime_ico/image.png);}
.amb-elem.pdf{background-image: url(../source/mime_ico/pdf.png);}
.amb-elem.zip{background-image: url(../source/mime_ico/zip.png);}

.amb-elem span{
	color: #CCC;
	margin-left: 10px;
}
.amb-elem a{
	color: #000;
	font-weight: bold;
}
