.threds-list{
	width: 100%;
	font-size: 12px;
	border-collapse: collapse;
	/*margin: 13px 0;*/
}

.threds-list tr{
	cursor: pointer;
	height: 10px;
	border: 1px solid #969696;
	/*border-right: none;
	border-left: none;*/
}

.threds-list td{
	padding: 2px 3px 4px 0;
}

.threds-list tr.notview{
	background: #EEE;
}
.threds-list tr.noanswer{
	font-weight: bold;
}


.threds-list tr.row-one{
	background: #EEE;
}
.threds-list tr.row-two{
	background: #FFF;
}


.threds-list .checkbox{
	
}
.threds-list .checkbox .checkbox-input{
	margin:3px 0 0 5px; padding: 0;
}

.threds-list .star{
	display:block;
}	
.threds-list .star p{
	background: url(../images/source/icon_fa.png) no-repeat;
}

.thread-mark-empty
{
    background: url(../images/source/icon_fa.png) no-repeat;
	float: left;
	width: 16px;
	height: 10px;
}

.thread-mark-send
{
    background: url(../images/source/gmailIconSet.png) no-repeat -60px -60px;
	float: left;
	width: 16px;
	height: 10px;
}
.thread-mark-edit 
{
    background: url(../images/source/gmailIconSet.png) no-repeat -80px -60px;
	float: left;
	width: 16px;
	height: 10px;;
}
.threds-list .from{
	white-space: nowrap;
}

.threds-list .title{
	white-space: nowrap;
	padding-left: 6px;
}

.threds-list .tags-dayjest{
	width: 100%;
}

.tags-dayjest .tags-inner{
	overflow: hidden;
}
.tags-dayjest .tin-layer{
	margin-right: -10000px;
	overflow: hidden;
}
.tags-dayjest .dayjest{
	color: #7a7a7a;
	padding-left: 15px;
}
.tags-dayjest .dayjest .title{
	color: #000;
	padding-left: 5px;
}

.threds-list .date{
	font-weight: bold;
	white-space: nowrap;
}


/*Some fix*/
 .spam-folder .threds-list .count{display: none;}
