/*
Default style definitions for:

Uploadify v1.6.0
Copyright (C) 2009 by Ronnie Garcia
Co-developed by Travis Nickels
*/
.fileUploadQueueItem {
	font-size: 11px;
	background-color: #F5F5F5;
	border: 1px solid #999;
	margin-top: 2px;
	padding: 2px 2px 4px 2px;
	width: 300px;
}
.fileUploadQueueItem .cancel {
	float: right;
	margin: 6px 5px 0 0;
}

.fileUploadQueueItem .fileName{
	
}

.fileUploadProgress {
	background-color: #FFFFFF;
	border-top: 1px solid #808080;
	border-left: 1px solid #808080;
	border-right: 1px solid #C5C5C5;
	border-bottom: 1px solid #C5C5C5;
	margin-top: 2px;
	width: 90% !important;
}
.fileUploadProgressBar {
	background-color: #0099FF;
	height: 8px !important;
}