/* Include CSS from tiny-mce */
body, td, pre {
	color:#000;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10pt;
	margin:8px;
}
body {background:#FFF;}
p {
	margin: 0px;
	padding: 0px;
}
blockquote {
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: #CCC;
	padding-left: 10pt;
	margin-top: 5pt;
	margin-right: 5pt;
	margin-bottom: 5pt;
	margin-left: 20pt;
	color: #666;
}

h1 {
	font-size: 16pt
}
h2 {
	font-size: 14pt
}
h3 {
	font-size: 12pt
}
h4 {font-size: 1em}
h5 {font-size: .83em}
h6 {font-size: .75em}

img {border:0;}
table {cursor:default}
table td, table th {cursor:text}
ins {border-bottom:1px solid green; text-decoration: none; color:green}
del {color:red; text-decoration:line-through}
cite {border-bottom:1px dashed blue}
acronym {border-bottom:1px dotted #CCC; cursor:help}
abbr {border-bottom:1px dashed #CCC; cursor:help}

/* IE */
* html body {
scrollbar-3dlight-color:#F0F0EE;
scrollbar-arrow-color:#676662;
scrollbar-base-color:#F0F0EE;
scrollbar-darkshadow-color:#DDD;
scrollbar-face-color:#E0E0DD;
scrollbar-highlight-color:#F0F0EE;
scrollbar-shadow-color:#F0F0EE;
scrollbar-track-color:#F5F5F5;
}

img:-moz-broken {-moz-force-broken-image-icon:1; width:24px; height:24px}
font[face=mceinline] {font-family:inherit !important}
/* End include CSS from tiny-mce */
body {
	font-family: "Trebuchet MS", Verdana, Arial, Tahoma, sans-serif;      
	font-size: 90%;
	margin: 0;
	padding: 10px 15px;
	overflow-x: hidden;
}

blockquote {
	padding-left: 10px;
	padding-right: 5px;
	border-left: 3px solid #ddd;
	margin-bottom: 1.5em;
}
div {
	line-height: 1.5em;
}
p {
	margin-bottom: 1.3em;
	line-height: 1.5em;
}
ul, ol {
	line-height: 1.5em;
}
dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dd { margin-left: 1.5em;}

table {
	border-collapse: collapse;
	font-size: 1em;	
	margin-bottom: 1.3em;
}
table td {
	border: 1px solid #ddd;
	padding: 5px;
}
table thead td {
	border-bottom: 2px solid #000 !important;
	font-weight: bold;
}
code, pre { font: 1.2em/1 "Courier New", Courier, monospace; background: #f5f5f5;  padding: 1em; margin-bottom: 1.3em; }
pre { border: 1px dashed #ccc; line-height: 1.7em; font-size: .9em; background: #f5f5f5; overflow: auto;  }


.img_left {
	float: left;
	margin-right: 10px; 
	margin-bottom: 10px;
}
.img_right {
	float: right;
	margin-left: 10px; 
	margin-bottom: 10px;
}

.redactor_video_box {
	width: 300px;
	height: 200px;
	background: url(../i/video_box.png) center no-repeat #000 !important;	
	margin-bottom: 1.3em;
}
.redactor_video_box object, .redactor_video_box embed, .redactor_video_box iframe {
	display: none;
}

.redactor_file_link {
	padding-left: 20px;
}
.redactor_file_ico_avi 	  { background: url(../i/fileicons/avi.png) no-repeat; }
.redactor_file_ico_csv 	  { background: url(../i/fileicons/csv.png) no-repeat; }
.redactor_file_ico_doc 	  { background: url(../i/fileicons/doc.png) no-repeat; }
.redactor_file_ico_gif 	  { background: url(../i/fileicons/gif.png) no-repeat; }
.redactor_file_ico_html   { background: url(../i/fileicons/html.png) no-repeat; }
.redactor_file_ico_jpg 	  { background: url(../i/fileicons/jpg.png) no-repeat; }
.redactor_file_ico_mov	  { background: url(../i/fileicons/mov.png) no-repeat; }
.redactor_file_ico_other  { background: url(../i/fileicons/other.png) no-repeat; }
.redactor_file_ico_pdf 	  { background: url(../i/fileicons/pdf.png) no-repeat; }
.redactor_file_ico_png 	  { background: url(../i/fileicons/png.png) no-repeat; }
.redactor_file_ico_ppt 	  { background: url(../i/fileicons/ppt.png) no-repeat; }
.redactor_file_ico_rar 	  { background: url(../i/fileicons/rar.png) no-repeat; }
.redactor_file_ico_rtf 	  { background: url(../i/fileicons/rtf.png) no-repeat; }
.redactor_file_ico_txt 	  { background: url(../i/fileicons/txt.png) no-repeat; }
.redactor_file_ico_xls 	  { background: url(../i/fileicons/xls.png) no-repeat; }
.redactor_file_ico_zip 	  { background: url(../i/fileicons/zip.png) no-repeat; }


h1, h2, h3, h4,h5 {
	font-weight: normal;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 30px;
	margin-bottom: 12px;
}
h2 {
	font-size: 24px;
	margin-bottom: 10px;
}
h3 {
	font-size: 18px;
	margin-bottom: 8px;
}
h4 {
	font-size: 12px;
	font-weight: bolder;
}

